h1{
    color: blue;
    background-color: burlywood;
    
}

.box{
    cursor: pointer;
    font-size: larger;
    font-weight: 1000;
    width: 60px;
    min-width: 60px;
    height: 60px;
    text-align: center;
    display: inline;
    display: table-cell; 
    vertical-align: middle;
}