/*.form-signin {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
  align: center;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  width: 300px;
  margin-bottom: auto;
  font-weight: bold;
}
.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  width: 300px;
  font-weight: bold;
}
.image {
    margin-top: 100px;
    margin-left: 110px;
}
.heading{
    text-align: center;
    background-color: white;
    color: brown;
    font-family: 'Times New Roman', Times, serif;

}
.submit{
    background-color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    color: brown;
    position: relative;
    margin-left: 100px;
    cursor: pointer;
}
.copyright{
    margin-left: 90px;
}*/
html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
  }
  
  .joinInnerContainer {
    width: 20%;
    min-width: 300px;
  }
  .joinInputname {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  .joinInputjoin {
    border-radius: 0;
    padding: 15px 20px;
    width: 55%;
  }
  
  .heading {
    color: gold;
    font-size: 2.5em;
    font-family:  Stencil Std,algerian, sans-serif;
    padding-bottom: 10px;
    //border-bottom: 2px solid white;
  }
  .subheading {
    color: white;
    font-size: 2 em;
    font-family:  Brush Script Std, Stencil Std,algerian, sans-serif;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
 
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979FF;
      padding: 15px;
      margin-left: 5%;
      border-radius: 5px;
      border: none;
      width: 40%;
      height: 90%;
  }
  .buttonc {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 15px;
    margin-top: -200px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    height: 100%;
}
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }
  buttonc:focus {
    outline: 0;
  }
  hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}
h3{
    color: #fff;
    margin-top: 10px;
    height: 50px;
}
